root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,py,json,yml,yaml,md}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
