<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotRecast.Core" version="2026.3.1" targetFramework="netstandard2.1" />
  <package id="DotRecast.Recast" version="2026.3.1" targetFramework="netstandard2.1" />
  <package id="DotRecast.Detour" version="2026.3.1" targetFramework="netstandard2.1" />
</packages>
